<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section}, ~{::css}, ~{::js})}">

<head>
    <title>Halaman Tambah Transaksi</title>
    <th:block th:fragment="css">
        <style>
            .list-group-item {
                cursor: pointer;
            }

            .list-group-item:hover {
                background-color: rgb(230, 230, 230);
            }
        </style>
    </th:block>
</head>

<body>
    <section>
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Update Transaksi</h6>
            </div>
            <div class="card-body row">
                <div class="col-lg-5 mt-3">
                    <h2>Cari Barang</h2>
                    <div class="d-flex">
                        <input id="search" type="text" name="search" class="form-control" placeholder="Cari barang ...">
                    </div>
                    <div id="product-search-list">

                    </div>
                </div>
                <form class="col-lg-7 mt-3" action="#" th:action="@{/transactions/update/}+${transaction.id}" th:object="${transaction}"
                    method="POST">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Detail Transaksi</h2>
                            <div class="form-group">
                                <input required type="hidden" th:field="*{customer.id}">
                                <input required type="text" th:field="*{customer.name}" class="form-control"
                                    placeholder="Nama Customer">
                            </div>
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0"
                                role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nama Barang</th>
                                        <th>Qty</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="transaction_details">
                                    <input type='hidden' th:field="*{id}">
                                    <tr th:each="trd, iter : ${transaction.transaction_details}">
                                        <input type='hidden'
                                            th:field="*{transaction_details[__${iter.index}__].product.id}">
                                        <td th:text="${trd.product.name}"></td>
                                        <td>
                                            <input oninput='changeQty(this)' type='number'
                                                th:field="*{transaction_details[__${iter.index}__].quantity}"
                                                class='form-control'>
                                        </td>
                                        <td class='text-success' th:text="${trd.selling_price}" />
                                        <td>
                                            <button type="button"  onclick="removeProduct(this)"
                                                class='btn btn-danger btn-circle'>
                                                <i class='fas fa-trash'></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Update Transaksi</button>
                </form>
            </div>
        </div>
    </section>
    <th:block th:fragment="js">
        <script th:inline="javascript">
            var product_added_db = [[${transaction_details}]];
            </script>
        <script>
            function toRupiah(x) {
                return "Rp " + x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
            }
            if (product_added_db != null) {
                var product_added = []
                product_added_db.forEach(p => {
                    let app = p.product
                    app.quantity = p.quantity
                    app.selling_price = app.quantity * app.selling_price
                    app.selling_price_string = toRupiah(app.selling_price)
                    product_added.push(app)
                })
            } else {
                var product_added = []
            }
            var product = []
            function setLoading() {
                var product_search_list = $("#product-search-list")
                var loading =
                    "<div class='card mt-1'>" +
                    "<div class='card-body text-info' >" +
                    "Loading ..." +
                    "</div >" +
                    "</div > "
                product_search_list.html(loading)
            }

            function getTemplate(index, id, name, qty, selling_price) {
                var html =
                    "<tr>" +
                    "<input type='hidden' name='transaction_details[" + index + "].product.id' value='" + id + "'>" +
                    "<td>" + name + "</td>" +
                    "<td>" +
                    "<input oninput='changeQty(this)' type='number'" +
                    "name='transaction_details[" + index + "].quantity'" +
                    "value='" + qty + "'" +
                    "class='form-control'>" +
                    "</td>" +
                    "<td class='text-success'>" + toRupiah(selling_price) + "</td>" +
                    "<td>" +
                    "<button type='submit' name='removeTransactionDetails'" +
                    "class='btn btn-danger btn-circle'>" +
                    "<i class='fas fa-trash'></i>" +
                    "</button>" +
                    "</td>" +
                    "</tr>"
                return html
            }

            function addProduct(id) {
                var product_find = product.find(p => {
                    return p.id == id
                })

                var exist_product_added = product_added.findIndex(p => {
                    return p.id == id
                })

                if (product_find != undefined) {
                    if (exist_product_added != -1) {
                        product_added[exist_product_added].quantity++
                        var html = getTemplate(exist_product_added, product_find.id, product_find.name, product_added[exist_product_added].quantity, product_find.selling_price * product_added[exist_product_added].quantity)
                        $($("#transaction_details").children('tr')[exist_product_added]).replaceWith(html)
                    } else {
                        product_find.quantity = 1
                        var newIndex = product_added.push(product_find)
                        var html = getTemplate(newIndex - 1, product_find.id, product_find.name, 1, product_find.selling_price)
                        $("#transaction_details").append(html)
                    }
                }
            }

            function changeQty(el) {
                var newQty = $(el).val().trim() == "" || $(el).val() == 0 ? 1 : $(el).val()
                var elParent = $(el).closest('tr')[0]
                var index = $("#transaction_details").children().index(elParent)
                product_added[index].quantity = newQty
                $(elParent).children('td').eq(2).text(toRupiah(newQty * product_added[index].selling_price))
            }

            function removeProduct(el) {
                var elParent = $(el).closest('tr')[0]
                var index = $("#transaction_details").children().index(elParent)
                product_added.splice(index, 1)
                $(elParent).remove()
            }

            $(document).ready(function ($) {
                var timeout = null
                var loading = false
                $('#search').on('keyup', function () {
                    if (!loading) {
                        setLoading()
                        loading = true
                    }
                    if (timeout != null) {
                        clearTimeout(timeout)
                    }
                    timeout = setTimeout(p => {
                        var dataList = $(this).val().toLowerCase();
                        $.ajax({
                            type: 'GET',
                            url: '/products/search?search=' + dataList,
                            success: function (data, status, xhr) {
                                product = data
                                var product_search_list = $("#product-search-list")
                                var html =
                                    "<div class='card mt-1'>" +
                                    "<ul class='list-group list-group-flush'>"
                                for (let i = 0; i < data.length; i++) {
                                    html +=
                                        "<li onclick='addProduct(" + data[i].id + ")' class='list-group-item d-flex justify-content-between align-items-center'>" +
                                        "<span>" + data[i].name + "</span>" +
                                        "<span class='text-success'>" + data[i].selling_price_string + "</span>" +
                                        "</li>"
                                }
                                html +=
                                    "</ul>" +
                                    "</div > "
                                product_search_list.html(html)
                                loading = false
                            }
                        });
                    }, 500);
                });

            });

        </script>
    </th:block>
</body>

</html>