<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section}, ~{::css}, ~{::js})}">

<head>
    <title>Halaman Edit Product</title>
    <th:block th:fragment="css">
    </th:block>
</head>

<body>
    <section>
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Edit Product</h6>
            </div>
            <div class="card-body">
                <form autocomplete="off" method="POST" th:object="${productForm}" th:action="@{/products/update/}+*{id}">
                    <input type="hidden" required th:field="*{id}">
                    <div class="form-group">
                        <input required type="text" th:field="*{name}" class="form-control" placeholder="Nama Barang">
                        <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>
                    <div class="form-group">
                        <input required type="number" th:field="*{purchase_price}" class="form-control" placeholder="Harga Beli">
                        <span class="has-error" th:if="${#fields.hasErrors('purchase_price')}" th:errors="*{purchase_price}"></span>
                    </div>
                    <div class="form-group">
                        <input required type="number" th:field="*{selling_price}" class="form-control" placeholder="Harga Jual">
                        <span class="has-error" th:if="${#fields.hasErrors('selling_price')}" th:errors="*{selling_price}"></span>
                    </div>
                    <div class="form-group">
                        <input required type="number" th:field="*{stock}" class="form-control" placeholder="Stock">
                        <span class="has-error" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></span>
                    </div>
                    <div class="form-group">
                        <select th:field="*{category.id}" class="form-control">
                            <option th:each="i : ${categories}" th:value="${i.id}" th:text="${i.name}" th:selected="${i.id} == ${productForm.category.id}">
                            </option>
                        </select>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Product</button>
                </form>
            </div>
        </div>
    </section>
    <th:block th:fragment="js">
    </th:block>
</body>

</html>