<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::title}, ~{::section}, ~{::css}, ~{::js})}">

<head>
    <title>Halaman Tambah Category</title>
    <th:block th:fragment="css">
    </th:block>
</head>

<body>
    <section>
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Tambah Category</h6>
            </div>
            <div class="card-body">
                <form autocomplete="off" method="POST" th:object="${categoryForm}" th:action="@{/categories/create}">
                    <div class="form-group">
                        <input required type="text" th:field="*{name}" class="form-control" placeholder="Name">
                        <span class="has-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Tambah Category Baru</button>
                </form>
            </div>
        </div>
    </section>
    <th:block th:fragment="js">
    </th:block>
</body>

</html>