</div>
</div>
</div>
</div>
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<script>
    navigator.geolocation.getCurrentPosition(response => {
        $.ajax({
            method: "GET",
            url: "http://api.weatherapi.com/v1/current.json?key=d4429efc01a043bf95e85713220703&q=" + response.coords.latitude + "," + response.coords.longitude + "&aqi=no"
        })
            .done(function (msg) {
                console.log(msg)
                $("#weather #city").append(msg.location.name)
                $("#weather #img").attr('src', msg.current.condition.icon)
                $("#weather #wrap-info #temp").append(msg.current.temp_c + "&#8451;")
                $("#weather #wrap-info #cond").append(msg.current.condition.text)
            });
    })
    $.ajax({
            method: "GET",
            url: "/users/name"
        })
            .done(function (msg) {
                $("#fullName").text(msg)
            });
</script>
</body>

</html>