<!DOCTYPE html>
<html th:fragment="layout (title, content, css, js)">

<head>
    <title th:replace="${title}">Layout Title</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <th:block th:replace="${css}">
</head>

<body>
    <div id="wrapper">
        <th:block th:include="fragments/sidebar" />
        <div id="content-wrapper">
            <div id="content">
                <th:block th:include="fragments/navbar" />
                    <div class="container-fluid">
                        <th:block th:replace="${content}">
                    </div>
            </div>
        </div>
    </div>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
    <script>
        navigator.geolocation.getCurrentPosition(response => {
        $.ajax({
            method: "GET",
            url: "http://api.weatherapi.com/v1/current.json?key=d4429efc01a043bf95e85713220703&q=" + response.coords.latitude + "," + response.coords.longitude + "&aqi=no"
        })
            .done(function (msg) {
                console.log(msg)
                $("#weather #city").append(msg.location.name)
                $("#weather #img").attr('src', msg.current.condition.icon)
                $("#weather #wrap-info #temp").append(msg.current.temp_c + "&#8451;")
                $("#weather #wrap-info #cond").append(msg.current.condition.text)
            });
        })
        $.ajax({
                method: "GET",
                url: "/users/name"
            })
                .done(function (msg) {
                    $("#fullName").text(msg)
                });
    </script>
    <th:block th:replace="${js}" />
</body>

</html>