<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <div id="weather" class="d-flex flex-column">
        <b id="city" class=""></b>
        <div id="wrap-info" class="d-flex align-items-center">
            <img id="img" class='img-fluid w-25' />
            <div class="d-flex flex-column">
                <b class="m-0" id="temp"></b>
                <small class="m-0" id="cond"></small>
            </div>
        </div>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow mx-1 d-flex align-items-center" id="fullName">
            
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="img/icon_user.png">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/" data-toggle="modal" data-target="#logoutModal">
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" style="border:0; background: none;">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>
                   </form>
                </a>
            </div>
        </li>

    </ul>

</nav>