<!DOCTYPE html>
<html th:replace="~{fragments/layout_before_login :: layout(~{::title}, ~{::section}, ~{::css}, ~{::js})}">

<head>
    <title>Halaman Login</title>
    <th:block th:fragment="css">
    </th:block>
</head>

<body>
    <section>
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" method="post" th:object="${userForm}" th:action="@{/register}">
                                <!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
                                <div class="form-group">
                                    <input required type="text" th:field="*{fullname}"
                                        class="form-control form-control-user" placeholder="Fullname" autofocus="true">
                                    <span class="d-block has-error text-danger my-1 ml-3"
                                        th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></span>
                                </div>
                                <div class="form-group">
                                    <input required type="email" th:field="*{email}"
                                        class="form-control form-control-user" placeholder="Email" autofocus="true">
                                    <span class="d-block has-error text-danger my-1 ml-3"
                                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                                <div class="form-group">
                                    <input required type="password" th:field="*{password}"
                                        class="form-control form-control-user" placeholder="Password">
                                    <span class="d-block has-error text-danger my-1 ml-3"
                                        th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                            </form>
                            <hr>
                            <span th:if="${success}" class="text-success">Daftar akun berhasil, login sekarang</span>
                            <div class="text-center">
                                <a class="small" href="/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <th:block th:fragment="js">
    </th:block>
</body>

</html>